justetc-app-with-justetc-com-files/local.properties
justetc-app-with-justetc-com-files/HTML5_Android_Template1.iml
justetc-app-with-justetc-com-files/build
justetc-app-with-justetc-com-files/gradlew
justetc-app-with-justetc-com-files/gradle
justetc-app-with-justetc-com-files/import-summary.txt
justetc-app-with-justetc-com-files/gradlew.bat
justetc-app-with-justetc-com-files/.gitignore
justetc-app-with-justetc-com-files/.gradle
justetc-app-with-justetc-com-files/.idea
